<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
        }
        
        h1 {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>My to-do list</h1>
<table>
    <a href="{% url 'task-create' %}">Add Task</a>
        {% for task in tasks%}
        <tr>
            <td>{{task.task_title}}</td>
            <td><a href="{% url 'task' task.id %}">View</a></td>
            <td><a href="{% url 'task-edit' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td
        </tr>
        {%empty%}
            <h3>No items to show</h3>
        {%endfor%}
    </table>
</body>
</html>
